doctype html
html
  head
    title Skier Mesh
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon", href="/images/favicon.png", type="image/x-icon")
    script(src="/javascripts/script.js")
  body
    block content